html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  &, &:before, &:after {
    box-sizing: inherit;
  }
}

/*html, body {
    width : 100%;
}*/

html {
  height: 100%;
}

body {
  height: 100%;
  //min-height       : 100%;
  @include font-family('default');
  @include font-size(1.8);
  font-weight: 300;
  line-height: 1.75;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}
