#{$all-text-inputs}, select, textarea {
    width: 100%;
    border: 1px solid color(form-field-border);
    padding: 0.5em;
}

button, input[type="button"], input[type="submit"] {
    width: auto;
    background-color: transparent;
    color: color(btn);
    padding: 0.25em 0.5em;
    border: 1px solid;
    border-radius: 0.5em;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    @include attention() {
        color: color(btn-hover);
        background-color: color(btn-hover-bg);
    }
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

span.wpcf7-list-item-label {
    position: relative;
    top: -0.3em;
}