h1, h2, h3, h4, h5, h6 {
    @include font-family('headings');
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}
.h4 {
    @extend h4;
}
.h5 {
    @extend h5;
}
.h6 {
    @extend h6;
}

@each $type, $scale in $heading-sizes {
    #{$type} {
        font-size: modular-scale($scale);
    }
}