table {

  margin-bottom: 1em;
  max-width: 100%;

  &, td {
    border: 1px solid color('table-border');
    border-collapse: collapse;
  }

  th, td {
    padding: 1em;
  }

  form &, form & td {
    border: 0;
  }

}