{% import 'macros/svg-sprite.twig' as svg_sprite %}
{% include "partials/partners.twig" %}
<footer class="c-site-footer" role="contentinfo">
    <div class="c-footer-disclaimer">
        <div class="o-container">
            <p>Registered office: 4 Park Court, Cross Street, Leeds, LS1 2QH</p>
            <p>Registered Charity No. 1112758</p>
            <p>The Institute of Money Advice is a Company Limited by Guarantee.</p>
            <p>Registered in England and Wales. Registration No. 5386480</p>
            <ul class="c-site-footer__social c-social c-social--footer">
                <li class="c-social__item">
                    <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_facebook', 'c-social__img') }}</a>
                </li>
                <li class="c-social__item">
                    <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_twitter', 'c-social__img') }}</a>
                </li>
                <li class="c-social__item">
                    <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_linkedin', 'c-social__img') }}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>