{% import 'macros/menu.twig' as nav %}
{% import 'macros/svg-sprite.twig' as svg_sprite %}
<header class="c-site-header js-site-header" role="banner">
    <div class="c-site-header__inner c-site-header__inner--top">
        <div class="o-container">
            <div class="c-site-header__content">
                <div class="c-site-header__search">
                    {% include "searchform.twig" %}
                </div>
                <div class="c-site-header__phone">
                    0113 242 0048
                </div>
                <ul class="c-site-header__social c-social c-social--header">
                    <li class="c-social__item c-social__item--login">
                        <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('padlock', 'c-social__img') }}</a>
                    </li>
                    <li class="c-social__item">
                        <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_facebook', 'c-social__img') }}</a>
                    </li>
                    <li class="c-social__item">
                        <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_twitter', 'c-social__img') }}</a>
                    </li>
                    <li class="c-social__item">
                        <a href="#" class="c-social__link" target="_blank">{{ svg_sprite.symbol('social_linkedin', 'c-social__img') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-site-header__inner">
        <div class="o-container">
            <div class="c-site-header__content">
                <{{ function('is_front_page') ? 'h1' : 'div' }} class="c-site-header__logo">
                <a href="{{ site.url }}">
                    {{ svg_sprite.symbol('ima_logo', '', '', '0 0 820.05 191.64') }}
                </a>
            </{{ function('is_front_page') ? 'h1' : 'div' }}>
            <a href="#" class="c-btn-nav js-btn-nav">
                <div class="c-btn-nav__line"></div>
                <div class="c-btn-nav__line"></div>
                <div class="c-btn-nav__line"></div>
            </a>
            {{ nav.render_menu('main', 'c-nav', 'c-site-header__nav c-nav--header c-nav--primary js-nav-primary') }}
            </div>
        </div>
    </div>
</header>