    <meta charset="{{ site.charset }}">
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
        var r = document.getElementsByTagName('html')[0];
        r.className = r.className.replace('no-js', '');
    </script>

{#    {% if env.SITE_ENV != 'local' and critical_exists %}
    <style type="text/css">
        {% include 'partials/critical.twig' ignore missing %}
    </style>
    {% endif %}#}

    {{ wp_head }}

    {% if critical_request %}
    <link rel="stylesheet" type="text/css" href="{{ theme.uri }}/dist/css/main.min.css">
    {% else %}
    <link rel="preload" type="text/css" as="style" href="{{ theme.uri }}/dist/css/main.min.css" onload="this.rel='stylesheet'">
    <script>
        {% include "dist/js/loadCss.js" %}
    </script>
    {% endif %}

    {% if user %}

    {% endif %}
