<section class="o-section o-section--partners">
    <div class="o-container">
        <div class="c-carousel" data-flickity='{ "wrapAround": true }'>
            {% for item in 0..10 %}
            <a href="#" class="c-carousel-item c-carousel-item--partner">
                <div class="c-carousel-item__content">
                    <img src="{{ theme.link }}/dist/img/svg/ima_logo.svg">
                    <h3 class="c-carousel-item__title">{{ item.title }}</h3>
                    {% if item.post_type == 'post' %}
                        {{ item.date|time_ago }}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>