$mq-base-font-size: 16px;
$mq-responsive: true;
$mq-breakpoints: (
        mobile: 320px,
        tablet: 740px,
        desktop: 980px,
        wide: 1200px,
        very-wide: 1400px,

        // Tweakpoints
        desktop-menu: 1000px
);

$mq-show-breakpoints: ();

$mq-static-breakpoint: desktop;

$mq-media-type: screen;