@keyframes front-text {
  from {
    transform: translateY(-1em) scale(1.1);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slider-scale {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}