// Font Formats
// ------------
/// The file formats to include when importing a font-face.
/// @group config
/// @type List
$font-formats: 'woff' 'ttf';

// Font Path
// ---------
/// The path to your fonts directory,
/// often relative to your output CSS.
/// @group config
/// @type String
$font-path: '../fonts/';

// Fonts
// -----
/// A map for managing all your fonts on a project.
/// @group config
/// @type Map
/// @example scss -
///   $fonts: (
///     'sans': (
///       'name': 'FranklinGothic',
///       'stack': ('Helvetica', 'Arial', 'sans-serif'),
///       'regular': 'franklingothic-regular-filename',
///       'bold': 'franklingothic-bold-filename',
///       'bold' 'italic': 'franklingothic-bolditalic-filename',
///     ),
///   );
$fonts: (
        'default': (
                'name': 'Gill Sans W01',
                'stack': ('Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif')
        ),
        'headings': (
                'name': 'Gill Sans W01',
                'stack': ('Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif')
        )
);

$heading-sizes: (
        h1: 14,
        h2: 14,
        h3: 10,
        h4: 6,
        h5: 4,
        h6: 1,
);

$font-sizes: (
        header-phone: 7,
        carousel-title: 4,
        blog-index-title: 6,
        footer: -2,
        slide-content: 14
);

// try $minor-seventh, $perfect-fifth, $major-third, or other scales
$modular-scale-ratio: $minor-second;