$z-layers: (
        bottomless-pit: -9999,
        pit: -1,
        default: 1,
        footer-bg-left: 5,
        footer-block: 10,
        slider-filter: 5,
        slider-animation: 10,
        slider-content: 20,
        menu: 1000,
        header: 3000,
        dropdown: 3000,
        overlay: 4000,
        modal: 4001,
        preload: 5000
);