// Block element modifier helpers
// https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
// Based on above and modified by Lee Millward

$elementSeparator: '__';
$modifierSeparator: '--';

@function reverse($list, $recursive: false) {
    $result: ();

    @for $i from length($list)*-1 through -1 {
        @if type-of(nth($list, abs($i))) == list and $recursive {
            $result: append($result, reverse(nth($list, abs($i)), $recursive));
        }

        @else {
            $result: append($result, nth($list, abs($i)));
        }
    }

    @return $result;
}

@function containsModifier($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $modifierSeparator) != null {
        @return true;
    } @else {
        @return false;
    }
}

@function containsElement($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $elementSeparator) != null {
        @return true;
    } @else {
        @return false;
    }
}

@function containsPseudo($selector) {
    $selector: selectorToString($selector);
    //@if str-index($selector, ' ') or str-index($selector, ':') {
    @if str-index($selector, ':') != null {
        @return true;
    } @else {
        @return false;
    }
}

@function selectorToString($selector) {
    $selector: inspect($selector); //cast to string
    $selector: str-slice($selector, 2, -2); //remove brackets
    @return $selector;
}

@function getBlock($selector) {
    //$selector: selectorToString($selector);
    $selector: inspect($selector);
    $values: ();

    @if str-index($selector, ' ') != null {
        @while str-index($selector, ' ') != null {
            $selector: str-slice($selector, str-index($selector, ' ') + 1);
        }
    }
    @if containsElement($selector) {
        $values: append($values, str-index($selector, $elementSeparator) - 1);
    }
    @if containsModifier($selector) {
        $values: append($values, str-index($selector, $modifierSeparator) - 1);
    }
    @if str-index($selector, ':') != null {
        $values: append($values, str-index($selector, ':') - 1);
    }

    $dot: str-slice($selector, 2);

    @if str-index($dot, '.') != null {
        $values: append($values, str-index($dot, '.'));
    }

    @if length($values) < 1 {
        @return $selector;
    }

    $output: str-slice($selector, 0, min($values...));
    @if str-slice($output, 0, 1) != '.' {
        $output: '.#{$output}';
    }
    @return $output;
}

// Colours

@function font-size($size) {
    @if variable_exists(font-sizes) and map-has-key($font-sizes, $size) {
        @return modular-scale(map-get($font-sizes, $size));
    }
    @error "#{$size} not set";
    @return null;
}