@mixin e($elements...) {
    $mc: false;
    $selector: &;
    $selectors: ();
    @each $item in $selector {
        $block: getBlock($item);
        @if str-index(str-slice(inspect($item), 2), '.') != null {
            $mc: true;
        }
        @each $element in $elements {
            @if index($selectors, selector-append('#{$block}', '__#{$element}')) == null {
                $selectors: append($selectors, selector-append('#{$block}', '__#{$element}'), comma);
            }
        }
    }
    @if containsModifier($selector) or containsPseudo($selector) or $mc == true {
        @if $mc == true and containsModifier($selector) == false and containsPseudo($selector) == false {
            $new-selector: ();
            @each $item in $selector {
                @if length($item) > 1 {
                    $new-item: ();
                    @for $i from 1 to length($item) {
                        $new-item: append($new-item, nth($item, $i));
                    }
                    @if index($new-selector, $new-item) == null {
                        $new-selector: append($new-selector, $new-item, comma);
                    }
                }
            }
            @if length($new-selector) > 0 {
                $selector: $new-selector;
            }
        }
        @at-root {
            #{$selector} {
                #{$selectors} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$selectors} {
                @content;
            }
        }
    }
}

@mixin m($modifiers...) {
    $selectors: ();
    @each $modifier in $modifiers {
        $selectors: append($selectors, selector-append(selector-nest(&), '--#{$modifier}'), comma);
    }
    @at-root {
        #{$selectors} {
            @content;
        }
    }
}

@mixin a($ancestors...) {
    $selectors: ();
    @each $ancestor in $ancestors {
        $selectors: append($selectors, selector-nest($ancestor, &));
    }
    @at-root {
        #{$selectors} {
            @content;
        }
    }
}

//////////////////

// Mixins: fonts
@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

// Mixins: links

// When we give an element some ‘attention’.
@mixin attention() {

    &:hover,
    &:active,
    &:focus {
        @content;
    }

}

//
// Mixins: vendor prefixes
// --------------------------------------------------


@mixin no-box-spacing() {
    margin: 0;
    padding: 0;
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: "alpha(opacity=#{$opacity-ie})"; // IE8
}

// Placeholder text
@mixin placeholder($color: $black-30) {
    &:-moz-placeholder {
        color: $color;
    }
    // Firefox 4-18
    &::-moz-placeholder {
        color: $color;
    }
    // Firefox 19+
    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

// Resize anything
@mixin resizable($direction) {
    resize: $direction; // Options: horizontal, vertical, both
    overflow: auto; // Safari fix
}

// Reset filters for IE
//
// Useful for when you want to remove a gradient from an element.
@mixin reset-filter() {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

//
// Mixins: utilities
// --------------------------------------------------

// Clearfix
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
// contenteditable attribute is included anywhere else in the document.
// Otherwise it causes space to appear at the top and bottom of elements
// that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
// `:before` to contain the top-margins of child elements.
@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

// Z-index

@function z($key, $change: null) {
    @if map-has-key($z-layers, $key) {
        @if ($change == increment) {
            $z-layers: map-merge($z-layers, ($key: map-get($z-layers, $key) + 1));
        }
        @else if ($change == decrement) {
            $z-layers: map-merge($z-layers, ($key: map-get($z-layers, $key) - 1));
        }
        @return map-get($z-layers, $key);
    }

    @warn "Unknown `#{$key}` in $z-layers.";
    @return null;
}

// Center-align a block level element
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Sizing shortcuts
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}

// Text overflow
//
// Requires inline-block or block for proper styling
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}