{% extends "base.twig" %}

{% block main %}
<main class="c-site-content">
    <div class="o-container">
        <aside class="site-content__sidebar site-content__sidebar--left">

        </aside>
        <div class="site-content__main">
            <h1 class="site-content__title">{{ post.title }}</h1>
            <p>The content you were looking for could not be found.</p>

            <p>Please try our <a href="{{ site.url }}">home page</a>, or if difficulties persist, please <a href="{{ site.url }}/contact/">contact us</a>.</p>

            <p>You may not be able to visit this page because:</p>

            <ul>
                <li>you've followed an out-of-date bookmark/favorite</li>
                <li>a search engine has directed you to an out-of-date listing for this site</li>
                <li>the URL (web address) was mistyped</li>
                <li>this page requires authorized access</li>
                <li>the requested resource was not found</li>
                <li>an error has occurred while processing your request</li>
            </ul>
        </div>
        <aside class="site-content__sidebar site-content__sidebar--right">

        </aside>
    </div>
</main>
{% endblock %}