{% import 'macros/menu.twig' as nav %}
{% import 'macros/svg-sprite.twig' as svg_sprite %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    {% include "partials/html-head.twig" %}
</head>
<body class="{{ body_class }}">

    {% if svg_sprite_exists %}
    <div class="u-svg-sprite">
        <img src="{{ theme.link }}/dist/img/sprite.svg" class="js-svg-inject">
    </div>
    {% endif %}

    {% include "partials/header.twig" %}

    {% block main %}{% endblock %}

    {% include "partials/footer.twig" %}

    {{ wp_footer }}

    <script src="{{ theme.uri }}/dist/js/main.min.js" async></script>

</body>
</html>
