{% extends "base.twig" %}

{% block main %}
    <main class="c-site-content">
        {% include "partials/layouts/heading.twig" %}
        <section class="o-section o-section--posts">
            <div class="o-container">
                <div class="c-posts js-isotope-posts">
                    <div class="c-posts__sizer js-sizer"></div>
                    <div class="c-posts__gutter js-gutter"></div>
                    {% for post in posts %}
                        <article class="c-post {{ post.class }} js-post" style="background-image: url(http://iconic.dev/content/themes/iconic/dist/img/banner_default.jpg);">
                            <a href="{{ post.link }}" class="c-post__link">
                                <div class="c-post__details">
                                    <h2 class="c-post__title">{{ post.title }}</h2>
                                    <div class="c-post__date">{{ post.date }}</div>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
                {% if pagination %}
                    <div class="c-pagination">
                        {% if pagination.prev %}
                            <a href="{{ pagination.prev.link }}"
                               class="c-pagination__prev{{ pagination.prev.link|length ? '' : ' c-pagination__prev--invisible' }}">&laquo; Prev</a>
                        {% endif %}
                        <ul class="c-pagination__pages">
                            {% for page in pagination.pages %}
                                <li class="c-pagination__page">
                                    {% if page.link %}
                                        <a href="{{ page.link }}" class="{{ page.class|replace({'page-number': 'c-pagination__page-number'}) }}">{{ page.title }}</a>
                                    {% else %}
                                        <span class="{{ page.class|replace({'page-number': 'c-pagination__page-number', 'current': 'c-pagination__page-number--current'}) }}">{{ page.title }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if pagination.next %}
                            <a href="{{ pagination.next.link }}"
                               class="c-pagination__next{{ pagination.next.link|length ? '' : ' c-pagination__next--invisible' }}">Next &raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}