{% extends "base.twig" %}

{% block main %}
<main class="c-site-content">
    {% include "partials/layouts/heading.twig" %}
    {% include "partials/layouts/standard.twig" %}
    <section class="o-section o-section--people">
        <div class="o-container">
            <div class="c-people js-isotope-people">
                <div class="c-people__sizer js-sizer"></div>
                <div class="c-people__gutter js-gutter"></div>
                {#{% for person in posts %}#}
                {% for i in range(0, 19) %}
                    <div class="c-person js-person">
                        <a href="{{ person.link }}" class="c-person__link js-person-link">
                            <div class="c-person__details">
                                <h2 class="c-person__name">{{ person.title }}</h2>
                                <div class="c-person__title">{{ person.iconic_person_title }}</div>
                            </div>
                        </a>
                        <div class="c-person__expand">

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}