{% extends "base.twig" %}

{% block main %}
    <main class="c-site-content">
        {% include "partials/layouts/heading.twig" %}
        {% include "partials/layouts/standard.twig" %}
    </main>
{% endblock %}

{% block blog_content %}

{% endblock %}