.c-btn-link {

    display: inline-block;
    color: color(btn-link);
    padding: 0.25em 0.5em;
    border: 1px solid;
    border-radius: 0.5em;
    text-transform: uppercase;

    @include attention() {
        color: color(btn-link-hover);
        background-color: color(btn-link-hover-bg);
    }

    @include m(alt) {

        color: color(btn-link-alt);

        @include attention() {
            color: color(btn-link-alt-hover);
            background-color: color(btn-link-alt-hover-bg);
        }

    }

}