.c-btn-nav {

    display: none;
    position: relative;
    transition: all 0.3s ease-in-out;

    @include e(line) {
        width: 50px;
        height: 5px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        border: 5px solid transparent;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
    }

    &.is-active {

        transform: rotate(45deg);

        @include e(line) {

            width: 35px;

            &:nth-child(1) {
                transform: translateY(13px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-13px) rotate(90deg);
            }

        }

        &::before {
            border: 5px solid #ecf0f1;
        }

    }

    @include mq($until: desktop) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

}