.c-carousel-item {

    width: 32.333%;
    min-height: 16em;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-right: 1em;
    padding: 1em;
    background-color: color(carousel-item-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: color(carousel-item);
    transition: background-color 0.1s ease-in-out;

    @include e(content) {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: color(carousel-item-bg-attention);
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    @include attention() {

        color: color(carousel-item);

        &::before {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease-in-out, visiblity 0.3s ease-in-out;
        }

    }

    @include m(partner) {
        width: 23%;
        background-color: transparent;
        min-height: 0;
    }

}

.o-section {

    @include m(midgrey) {

        .c-carousel-item {
            color: color(white);
        }

    }

}