.c-columns {

    @include e(inner) {
        display: flex;
        justify-content: space-around;
    }

    @include e(column) {
        flex: 1;
        max-width: 1000px;
    }

    .contact-us & {

        @include e(column) {

            flex: 1;

            .nf-form-title {
                display: none;
            }

        }

    }

}