.c-footer-blocks {

    display: flex;

    @include e(block) {

        position: relative;
        flex: 1;
        border-right: 1px solid color(footer);
        padding: 1em;
        background-color: color(footer-bg);
        z-index: z(footer-block);

        &:first-child {
            background-color: color(footer-left-bg);
        }

        &:last-child {
            border-right: 0;
        }

    }

    @include e(logo-address) {
        display: flex;
    }

    @include e(social) {
        flex: 1;
        align-self: flex-end;
    }

    @include mq($until: desktop) {

        flex-wrap: wrap;

        @include e(block) {
            width: 100%;
            flex: none;
        }

    }

}