.c-heading {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 35vh;
    background-color: color(page-heading-bg);
    background-image: url(../img/banner_default.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: color(page-heading);
    padding: 4em 0;

    @include e(title, subtitle) {
        margin: 0;
    }

    @include e(subtitle) {
        padding-top: 0.25em;
        font-weight: normal;
    }

}