.c-icon-card {

    list-style: none;
    background-color: color(icon-card-bg);
    color: color(icon-card);
    width: 24.5%;

    @include e(link) {
        display: block;
        color: inherit;
    }

    @include e(content) {

        padding: 2em 1em;
        text-align: center;

        :last-child {
            margin-bottom: 0;
        }

    }

    @include e(icon) {
        margin-bottom: 1em;
    }

}