.c-nav-sub-items {

    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.25em 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-color: color(header-nav-dropdown-bg);
    text-align: left;
    margin-left: -0.5em;

    .c-nav-item {

        position: relative;
        left: 0;
        white-space: nowrap;
        margin: 0;
        display: block;

        @include e(link) {

            padding: 0.5em 2em 0.5em 0.5em;

            &::after {
                display: none;
            }

        }

    }

    & & {
        top: 0;
        left: 100%;
        background-color: #fafafa;
    }

}

.c-nav-item {

    @include attention() {

        & > .c-nav-sub-items {
            visibility: visible;
            opacity: 1;
        }

    }

}