.c-nav-item {

    display: inline-block;
    position: relative;
    z-index: z(menu);
    margin-left: 1em;
    margin-bottom: -0.5em;

    &:first-child {
        margin-left: 0;
    }

    @include e(link) {

        position: relative;
        display: block;
        padding: 0.5em 0;
        color: color(header-nav);

/*        &::after {
            position: absolute;
            bottom: 0; left: 0; right: 0;
            height: 2px;
            content: '';
            background-color: color(header-nav-attention);
            transform: scaleX(0);
            transform-origin: center;
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }*/

        @include attention() {

            color: color(header-nav-attention);

/*            &::after {
                transform: scaleX(1);
                opacity: 1;
            }*/

        }

    }

    @include m(current) {
        @include e(link) {
/*            &::after {
                position: absolute;
                bottom: 0; left: 0; right: 0;
                height: 2px;
                content: '';
                background-color: color(brand-dark-grey);
                transform: scaleX(1);
                opacity: 1;
            }*/
        }
    }

    @include mq($until: desktop){

        display: block;
        margin-left: 0;
        margin-bottom: 0.25em;

    }

    .c-nav--footer & {

        display: block;
        margin-left: 0;

        @include e(link) {
            color: inherit;
/*            &::after {
                content: normal;
            }*/
        }

    }

}