.c-nav {

    @include m(primary) {

        text-align: right;
        font-size: 1em;
        z-index: z(menu);

        @include e(items) {
            padding: 0;
            margin: 0;
        }

        @include mq($until: desktop) {
            visibility: hidden;
            opacity: 0;
            text-align: left;
            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

            &.is-active {
                visibility: visible;
                opacity: 1;
            }
        }

    }

    @include m(footer) {

        @include e(items) {
            margin: 0;
            padding: 0;
        }

        @include e(item) {
            list-style: none;
        }

        @include e(link) {

            color: inherit;

            @include attention() {
                color: color(brand-light-grey);
            }

        }

    }

}