.c-pagination {

    padding: 0.5em 0;

    @include e(prev, next, pages) {
        display: inline-block;
    }

    @include e(prev) {
        margin-right: 0.5em;
    }

    @include e(next) {
        margin-left: 0.5em;
    }

    @include e(pages) {
        padding: 0;
    }

    @include e(page) {
        display: inline-block;
        margin-right: 0.25em;
        &:last-child {
            margin-right: 0;
        }
    }

    @include e(page-number) {

        display: block;
        width: 1.85em;
        height: 1.85em;
        color: color(pagination-link);
        border: 1px solid;
        border-radius: 0.25em;
        text-align: center;
        vertical-align: middle;

        @include m(current) {
            background-color: color(pagination-link-hover-bg);
            color: color(pagination-link-hover);
        }

    }

}