.c-people {

    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;

    @include e(gutter, sizer) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include e(gutter) {
        width: 0.75em;
    }

    @include e(sizer) {
        width: 24%;
    }

    .is-active & {

        @include e(gutter, sizer) {
            display: block;
        }

    }

}