.c-person {

    position: relative;
    width: 24%;
    background-color: color(lightgrey);
    padding-top: 23%;

    @include e(link, expand) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include e(link) {
        display: block;
    }

    @include e(expand) {
        display: none;
    }

    &.is-active {

        padding-top: 0;
        width: 49%;

        @include e(link) {
            display: none;
        }

        @include e(expand) {
            position: relative;
            display: block;
            min-height: 30em;
        }

    }

}