.c-post {

    .blog &, .archive & {

        position: relative;
        width: 24%;
        background-color: color(lightgrey);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 23%;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            background-color: color(blog-index-overlay);
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        }

        @include e(link) {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: color(blog-index-link);
        }

        @include e(details) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1em;
        }

        @include e(title) {
            font-size: font-size(blog-index-title);
        }

        &:hover {

            @include e(link) {
                color: color(blog-index-link-hover)
            }

            &::before {
                background-color: color(blog-index-hover-overlay);
            }

        }

        @include mq($from: tablet, $until: wide) {
            width: 32%;
            padding-top: 32%;
        }

        @include mq($until: tablet) {
            width: 100%;
            padding-top: 50%;
        }

    }

}