.c-posts {

    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;

    @include e(gutter, sizer) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include e(gutter) {
        width: 0.75em;
    }

    @include e(sizer) {

        width: 24%;

        @include mq($from: tablet, $until: wide) {
            width: 32%;
        }

        @include mq($until: tablet) {
            width: 100%;
        }

    }

    .is-active & {

        @include e(gutter, sizer) {
            display: block;
        }

    }

}