.c-site-header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: z(header);

    .admin-bar & {
        top: 32px;
    }

    @include e(inner) {

        background-color: color(header-bg);
        padding: 1em;

        @include m(top) {

            background-color: color(header-top-bg);
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            @include e(content) {
                align-items: center;
                justify-content: flex-end;
            }

        }

    }

    @include e(content) {
        position: relative;
        display: flex;
        align-items: flex-end;
        color: color(header-top);
    }

    @include e(search, phone) {
        margin-right: 2em;
    }

    @include e(search) {

        input[type="text"] {
            border: 0;
        }

    }

    @include e(phone) {
        font-weight: bold;
        font-size: font-size(header-phone);
    }

    @include e(logo) {

        margin: 0;
        font-size: 1em;

        svg {
            width: 100%;
        }

    }

    @include e(logo) {
        position: relative;
        flex: 3;
        margin-right: 1em;
    }

    @include e(nav) {
        flex: 10;
    }

/*    @include e(social) {
        position: absolute;
        top: 0;
        right: 1em;
        margin: 0;
        padding: 0;
    }*/

    @include mq($until: desktop) {

        height: 17%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: z(modal);
        width: 100%;
        padding: 0;
        background-color: white;
        transition: height 0.5s ease-in-out;

        &.is-nav-active {

            height: 100%;

        }

        @include e(inner) {
            flex-wrap: wrap;
            align-content: space-between;
        }

        @include e(logo) {
            width: 65%;
            flex: none;
            margin-bottom: 1em;
        }

        @include e(nav) {
            width: 100%;
            flex: none;
        }

        @include e(social) {
            position: relative;
            right: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

            .is-nav-active & {
                visibility: visible;
                opacity: 1;
            }
        }

    }

}