.c-slider {

    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;

    @include mq($until: desktop) {
        .home & {
            height: auto;
            min-height: 85vh;
        }
    }

}