.c-slide {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;

/*    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        z-index: z(slider-content);
    }*/

    @include e(scale) {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: z(slider-animation);
        will-change: transform, opacity, visibility;
    }

    @include e(content) {
        position: relative;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        z-index: z(slider-content);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 6em 1em 0;
        color: color(slide-content);
    }

    @include e(title) {
        margin-bottom: 0;
    }

    @include e(title, strapline) {
        font-weight: 300;
        font-size: font-size(slide-content);
        letter-spacing: 0.1em;
    }

    &.is-active {

        opacity: 1;
        visibility: visible;

        @include e(scale) {
            animation: slider-scale 4s ease-in-out -1s 1 both;
        }

    }

    @include mq($until: tablet) {

        @include e(content) {
            justify-content: flex-end;
            padding: 1em;
        }

        @include e(title, strapline) {
            width: 100%;
        }

    }

}