.c-social {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    @include e(item) {

        display: inline-block;
        list-style: none;
        width: 2em;
        max-width: 2em;
        margin-left: 0.5em;

        @include m(login) {
            margin-right: 0.5em;
        }

        &:first-child {
            margin-left: 0;
        }

    }

    @include e(link, img) {
        display: block;
    }

    @include e(link) {

        background-color: color(btn-social);
        border-radius: 4px;
        position: relative;

        @include attention() {
            background-color: color(btn-social-attention);
        }

    }

    @include e(img) {
        width: 2em;
        height: 2em;
        color: color(social-img)
    }

    @include m(header) {

        @include mq($until: desktop) {
            justify-content: flex-start;
        }

    }

    @include m(footer) {

        flex-wrap: wrap;
        align-self: flex-end;

        @include e(item) {
            width: 50%;
        }

        @include e(link) {
            background-color: color(btn-social-footer);

            @include attention() {
                background-color: color(btn-social-footer-attention);
            }
        }

        @include e(img) {
            color: color(social-img-footer);
        }

    }

}