.c-split-block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 4em 7%;
    min-height: 65vh;

    @include m(image) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @include mq($until: desktop) {
        flex: none;
        width: 100%;
    }

}

@include mq($from: tablet) {

}

.o-section {

    @include mq($from: desktop) {

        @include m(content-left) {

            .c-split-block {

                @include m(image) {
                    order: 1;
                }

            }

        }

        @include m(content-right) {

            .c-split-block {

                @include m(image) {
                    order: -1;
                }

            }

        }

    }

    @include mq($until: desktop) {

        flex-direction: column;

    }

}