.process-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.planning-stages {
    color: #666;
    margin-left: 0;
    width: 200%;
    @include transition(margin-left .3s ease-in-out);
    // &__inner {
    //   overflow: hidden;
    // }
    @include mq($until: tablet) {
        width: 100%;
    }
    &__bg {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include transition(visibility 0.3s ease-in-out, opacity 0.3s ease-in-out);
        &.is-active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__stage {
        width: 8.25%;
        float: left;
        margin-right: 0;
        text-align: center;
        overflow: hidden;
        position: relative;
        margin-left: 0;
        background-color: transparent;
        @include transition(width 0.3s ease-in-out, background-color 0.3s ease-in-out);
        color: color(black);
        &.is-expanded {
            overflow: visible;
            width: 30%;
            //   background-color: color(palepurple);
            @include mq($until: tablet) {
                width: 100%;
            }
        }
        &-inner {
            width: 400%;
            @include transition(width 0.3s ease-in-out);
            @include mq($until: tablet) {
                width: 100%;
            }
        }
        &.is-expanded &-inner {
            width: 100%;
        }
        @include mq($until: tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4%;
            &.is-expanded, .is-shifted & {
                width: 100%;
            }
        }
        &:last-child {
            margin-right: 0;
            .planning-stages__number {
                border-right:0;
            }
        }
    }
    &__click {
        width: 25%;
        display: block;
        color: #666;
        position: relative;
        // z-index: z(process-click);
        float: left;
        text-decoration: none;
        @include mq($until: tablet) {
            float: none;
            margin: 0 auto;
        }

        &:hover {
              .planning-stages__number, .planning-stages__description {
                    color: color(primary);
              }
        }
    }
    &__stage.is-expanded &__click {
        // color: color(purple);
    }
    &__number-prefix, &__description {
        padding: 0.25em 0;
        text-decoration: none;
        color: black;
        font-weight: 400;
    }
    &__number {
        display: block;
        font-size: 10em;
        line-height: 0.75em;
        padding: 0.2em 0;
        font-weight: 100;
        color: black;
        border-right: 2px dotted color(black);
        @include mq($until: tablet) {
            border-right: 0;
        }
    }
    &__click:hover &__number {
        border-color: color(primary);
    }
    .is-expanded &__click &__number {
        border:0;
    }
    &__expand {
        text-align: left;
        min-height: 28em;
        overflow: hidden;
        padding: 1em;
        opacity: 0;
        visibility: hidden;
        @include transition(width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out);

        @include mq($until: tablet) {
            max-height: 0;
            @include transition(max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
        }

        h2 {
            font-size: 1.2em;
            font-weight: 400;
        }

        ul {
            padding-left: 1em;
        }

        li {
            margin-bottom:0.5em;
            line-height: 1.2em;
            padding-left: 0.5em;
        }

        @include mq ($until : tablet ) {
            min-height: 0;
        }

    }
    &__stage.is-expanded &__expand.is-visible {
        opacity: 1;
        visibility: visible;
        @include mq($until: tablet) {
            max-height: 200vh;
        }
    }

    &.is-shifted {
        margin-left: -35%;
        @include mq($until: tablet) {
            margin-left: 0;
        }
    }
}
