.u-svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.u-highlight {
  font-weight: bold;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

@include mq($until: tablet) {
  .u-float-left,
  .u-float-right {
    float: none;
  }
}