/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1, .h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 8/9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0; }

@-webkit-keyframes front-text {
  from {
    -webkit-transform: translateY(-1em) scale(1.1); }
  to {
    -webkit-transform: translateY(0) scale(1); } }
@-moz-keyframes front-text {
  from {
    -moz-transform: translateY(-1em) scale(1.1); }
  to {
    -moz-transform: translateY(0) scale(1); } }
@keyframes front-text {
  from {
    -webkit-transform: translateY(-1em) scale(1.1);
    -moz-transform: translateY(-1em) scale(1.1);
    -ms-transform: translateY(-1em) scale(1.1);
    -o-transform: translateY(-1em) scale(1.1);
    transform: translateY(-1em) scale(1.1); }
  to {
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); } }
html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*html, body {
    width : 100%;
}*/
html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; }

p, ul, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; }

p {
  margin-bottom: 1em; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1; }

h1, .h1 {
  font-size: 3.58318em; }

h2, .h2 {
  font-size: 2.98598em; }

h3, .h3 {
  font-size: 2.48832em; }

h4, .h4 {
  font-size: 2.0736em; }

h5, .h5 {
  font-size: 1.728em; }

h6, .h6 {
  font-size: 1.44em; }

blockquote {
  font-style: italic;
  margin: 0 0 2em; }
  blockquote cite {
    margin-top: 1em;
    display: block;
    font-style: normal;
    font-weight: bold; }

iframe {
  max-width: 100%; }
  @media (max-width: 19.99em) {
    iframe {
      width: 100%; } }

a {
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear; }

img {
  max-width: 100%;
  height: auto; }
  @media (max-width: 19.99em) {
    img.fixed-size {
      width: auto;
      height: auto; } }

table {
  margin-bottom: 1em;
  max-width: 100%; }
  table, table td {
    border: 1px solid #1e23aa;
    border-collapse: collapse; }
  table th, table td {
    padding: 1em; }
  form table, form table td {
    border: 0; }

/*------------------------------------*\
    #NAV
\*------------------------------------*/
.nav ul {
  margin: 0;
  padding: 0; }
.nav li {
  list-style: none; }
.nav--primary {
  text-align: center;
  z-index: 1000; }
  .nav--primary li {
    display: inline-block;
    position: relative;
    z-index: 1000; }
    @media (max-width: 46.24em) {
      .nav--primary li {
        display: block; } }
  .nav--primary a {
    display: block; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select, textarea {
  width: 100%;
  border: 0;
  padding: 0.5em; }

input[type="submit"] {
  width: auto;
  border: 0;
  padding: 0.25em 0.5em; }

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em; }

span.wpcf7-list-item-label {
  position: relative;
  top: -0.3em; }

.btn-nav {
  display: block;
  position: fixed;
  top: 1.3em;
  right: 2em;
  width: 2.5em;
  padding: 1em 0.5em;
  z-index: 1000;
  outline: none; }
  .btn-nav__bar {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
    display: block;
    opacity: 1;
    filter: "alpha(opacity=100)";
    visibility: visible; }
    .btn-nav__bar:last-child {
      margin-bottom: 0; }
    .is-active .btn-nav__bar {
      opacity: 0;
      filter: "alpha(opacity=0)";
      visibility: hidden; }
  .btn-nav__bar, .btn-nav__x {
    -webkit-transition: "opacity 0.3s ease-in-out, visibility 0.3s ease-in-out";
    -moz-transition: "opacity 0.3s ease-in-out, visibility 0.3s ease-in-out";
    transition: "opacity 0.3s ease-in-out, visibility 0.3s ease-in-out"; }
  .btn-nav__x {
    position: absolute;
    top: 16%;
    right: 32%;
    font-size: 1.5em;
    color: white;
    opacity: 0;
    filter: "alpha(opacity=0)";
    visibility: hidden; }
    .is-active .btn-nav__x {
      opacity: 1;
      filter: "alpha(opacity=100)";
      visibility: visible; }
  @media (min-width: 46.25em) {
    .btn-nav {
      display: none; } }
  @media (max-width: 46.24em) {
    .btn-nav {
      display: block;
      right: 1em;
      top: 1em; }
      .admin-bar .btn-nav {
        margin-top: 46px; } }

div.wpcf7 {
  margin: 0;
  padding: 0; }

div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em; }

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0; }

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14; }

div.wpcf7-mail-sent-ng {
  border: 2px solid #ff0000; }

div.wpcf7-spam-blocked {
  border: 2px solid #ffa500; }

div.wpcf7-validation-errors {
  border: 2px solid #f7e700; }

span.wpcf7-form-control-wrap {
  position: relative; }

span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  display: block; }

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #ff0000;
  background: #fff;
  padding: .2em .8em; }

span.wpcf7-list-item {
  margin-left: 0.5em; }

.wpcf7-display-none {
  display: none; }

div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px; }

div.wpcf7 div.ajax-error {
  display: none; }

div.wpcf7 .placeheld {
  color: #888; }

span.wpcf7-form-control-wrap {
  display: block; }

span.wpcf7-not-valid-tip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid; }

div.wpcf7 {
  margin-left: -1em; }

span.wpcf7-list-item {
  display: block; }

span.wpcf7-list-item-label {
  margin-left: 0.5em; }

.embed {
  margin-bottom: 1em; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.u-highlight {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media (max-width: 46.24em) {
  .float-left, .float-right {
    float: none; } }
.bspf {
  -ms-behavior: url(/backgroundsize.min.htc); }

/*# sourceMappingURL=main.css.map */
