.o-section {

    //box-shadow: 0 0 10px 0 color(section-drop-shadow);
    padding: 4em 0;
    display: flex;

    @include e(title) {
        margin-bottom: 1em;
    }

    @include m(split) {

        flex-direction: row;
        align-items: stretch;
        width: 100%;
        padding: 0;

    }

    @include m(carousel, cards, link-blocks) {

        align-items: center;

        @include e(title) {
            text-align: center;
        }

    }

    @include m(offwhite) {
        background-color: color(section-offwhite-bg);
    }

    @include m(lightgrey) {
        background-color: color(section-lightgrey-bg);
    }

    @include m(midgrey) {

        background-color: color(section-midgrey-bg);
        color: color(section-midgrey);

        a {
            color: inherit;
        }

    }

    @include m(darkgrey) {
        background-color: color(section-darkgrey-bg);
    }

}