{% macro render_menu(slug, block, classes) %}
    {% import _self as nav %}
    {% set items = Menu(slug, block) %}
    <nav class="{{ block }}{{ classes ? ' ' ~ classes|join(' ') }}" role="navigation">
        <ul class="{{ block }}__items{{ classes ? ' ' ~ classes }}">
            {% for item in items.get_items %}
                {{ nav.render_item(item, block) }}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro render_item(item, block) %}
    {% import _self as nav %}
    {% set children = item.get_children %}
    <li class="{{ block }}-item{{ children ? ' ' ~ block ~ '-item--sub-item js-nav-has-children' }} {{item.classes | join(' ') }}"><a href="{{item.get_link}}" class="{{ block }}-item__link"{{ item.target ? ' target="' ~ item.target ~ '"' }}{{ item.attr_title ? ' title="' ~ item.attr_title ~ '"' }}>{{item.title}}</a>
        {% if children %}
            {{ nav.render_sub_menu(children, block) }}
        {% endif %}
    </li>
{% endmacro %}

{% macro render_sub_menu(items, block) %}
    {% import _self as nav %}
        <ul class="{{ block }}-sub-items js-nav-sub-items">
            {% for item in items %}
                {{ nav.render_item(item, block) }}
            {% endfor %}
        </ul>
{% endmacro %}