{% macro symbol(href, class, id, viewbox) %}
<svg{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}{% if viewbox %} viewBox="{{ viewbox }}"{% endif %}>
    <use xlink:href="#{{ href }}">
</svg>
{% endmacro %}