{% if layout.cards|length > 0 %}
<section class="o-section o-section--cards{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }}">
    <div class="o-container">
        <h2 class="o-section__title">{{ layout.title }}</h2>
        <ul class="c-icon-cards">
            {% for card in layout.cards %}
            <li class="c-icon-card">
                    <div class="c-icon-card__content">
                        {% if card.icon %}
                        <img src="{{ card.icon.url }}"{{ card.icon.width > 0 ? ' width="' ~ card.icon.width ~ '"' }}{{ card.icon.height > 0 ? ' height="' ~ card.icon.height ~ '"' }} class="c-icon-card__icon">
                        {% endif %}
                        <h3 class="c-icon-card__title">{{ card.title }}</h3>
                        {{ layout.content }}
                        {% if card.link %}
                        <a href="{{ card.link }}" class="c-btn-link c-btn-link--alt">Read more</a>
                        {% endif %}
                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}