{% if layout.posts %}
<section class="o-section o-section--carousel{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }}">
    <div class="o-container">
        <h2 class="o-section__title">{{ layout.title }}</h2>
        <div class="c-carousel" data-flickity='{ "wrapAround": true }'>
            {% for item in layout.posts %}
            {% set img = item.get_field('ima_block_img') %}
            <a href="{{ item.link }}" class="c-carousel-item"{% if img.url %} style="background-image: url({{ img.url }});"{% endif %}>
                <div class="c-carousel-item__content">
                    <h3 class="c-carousel-item__title">{{ item.title }}</h3>
                    {% if item.post_type == 'post' %}
                    {{ item.date|time_ago }}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}