{% if layout.columns %}
<section class="o-section c-columns c-columns--{{ layout.columns|length }}">
    <div class="o-container c-columns__inner">
        {% for column in layout.columns %}
            <div class="c-columns__column">
                {{ column.content }}
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}