{% set title = layout.title ?: (helper.build_page_title() ?: post.title) %}
{% if title %}
<section class="c-heading">
    <h1 class="c-heading__title">{{ title }}</h1>
    {% if layout.subtitle or post.iconic_page_subtitle %}<h2 class="c-heading__subtitle">{{ layout.subtitle ?: post.iconic_page_subtitle }}</h2>{% endif %}
</section>
{% endif %}