{% if layout.posts %}
<section class="o-section o-section--link-blocks{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }}">
    <div class="o-container">
        <h2 class="o-section__title">{{ layout.title }}</h2>
        <div class="c-link-blocks">
            {% for item in layout.posts %}
            {% set img = item.get_field('ima_block_img') %}
            <a href="{{ item.link }}" class="c-link-block"{% if img.url %} style="background-image: url({{ img.url }});"{% endif %}>
                <div class="c-link-block__content">
                    <h3 class="c-link-block__title">{{ item.title }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}