<section class="o-section c-slider{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }} js-smooth-slider">
    {% for slide in layout.slides %}
    <div class="c-slide js-slide">
        <div class="c-slide__scale js-slide__scale"{{ slide.background_image ? ' style="background-image: url(' ~ slide.background_image ~ ')"' }}></div>
        <div class="c-slide__content">
            <h2 class="c-slide__title">{{ slide.heading }}</h2>
            <div class="c-slide__strapline">
                {{ slide.strapline }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>