<section class="o-section o-section--split{{ layout.primary_content_placement == 'Right' ? ' o-section--content-right' }}{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }}">
    <div class="c-split-block">
        <h2>{{ layout.title }}</h2>
        <div class="c-split-block__content">
            {{ layout.primary_content }}
            {{ layout.link ? '<a href="' ~ layout.link ~ '"' ~ (layout.link_open ? ' target="_blank"') ~ ' class="c-btn-link">' ~ layout.link_text ~ '</a>' }}
        </div>
    </div>
    <div class="c-split-block{{ layout.secondary_content_type == 'Image' ? ' c-split-block--image' }}"{{ layout.secondary_content_type == 'Image' ? ' style="background-image: url(' ~ layout.image ~ ');"' }}>
        {{ layout.secondary_content }}
    </div>
</section>