{% if layout.stages %}
    <div class="process-wrapper o-container">
        <div class="site-content__inner site-content__inner--stages">
            <div class="planning-stages js-stages">
                {% for step in layout.stages %}
                <div class="planning-stages__bg js-stage-bg" style="background-image: url({{ step.image }})"
                     data-stage="{{ loop.index }}"></div>
                {% endfor %}
                {% for step in layout.stages %}
                    <div class="planning-stages__inner">
                        <div class="planning-stages__stage js-stage" data-stage="{{ loop.index }}">
                            <div class="planning-stages__stage-inner">
                                <a href="#" class="planning-stages__click js-stage__click"
                                   data-stage="{{ loop.index }}">
                                    <div class="planning-stages__number">{{ loop.index }}</div>
                                    <div class="planning-stages__description js-stage-desc">{{ step.title }}</div>
                                </a>
                                <div class="planning-stages__expand js-stage__expand">
                                    <h2>{{ step.title }}</h2>
                                    <ul>
                                        {{ step.content }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
