<section class="o-section o-section--standard{{ layout.background_colour ? ' o-section--' ~ layout.background_colour }}">
    <div class="o-container">
        <div class="c-content-standard">
            <div class="c-content-standard__main">
                {{ layout.content ?: post.content }}
            </div>
            {% if layout.sidebar or post.iconic_page_sidebar %}
            <aside class="c-content-standard__sidebar">
                {{ post.sidebar }}
            </aside>
            {% endif %}
        </div>
    </div>
</section>